<div class="h1 text-primary text-center">Using Reactive Forms</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><button class="btn btn-primary" (click)="onEdit(user.id)">Edit</button></td>
            </tr>
           
        </tbody>
    </table>
</div>

<div>

</div>
<div class="bg-secondary p-3 text-white mt-5 rounded-3 w-50">
    <form [formGroup]="userForm">
        <div class="d-flex flex-column">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username">
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>

            <div>
                <button type="submit" (click)="onClickBtn()" class="btn btn-primary text-white ">Submit</button>
            </div>
        </div>
    </form>
</div>